<div class="comments-row">
  <mat-form-field>
    <input [formControl]="commentCtrl" matInput placeholder="Laissez un commentaire..." type="text">
  </mat-form-field>
  <button (click)="onLeaveComment()" color="primary" mat-icon-button>
    <mat-icon>send</mat-icon>
  </button>
</div>
<mat-list *ngIf="comments.length" @list>
  <h2 matSubheader>Commentaires</h2>
  <mat-list-item (mouseenter)="onListItemMouseEnter(i)" (mouseleave)="onListItemMouseLeave(i)"
                 *ngFor="let comment of comments; let i=index" [@listItem]="animationStates[i]">
    <span class="comment-text" mat-line>{{comment.comment}}</span><br>
    <span class="comment-date" mat-line style="color: lightgray;font-size: 14px">{{comment.createdDate|timeAgo}}</span>
  </mat-list-item>
</mat-list>
