<mat-card>
  <mat-card-header>
    <mat-card-title><span color="orange" highlight>{{post.title| titlecase}}</span></mat-card-title>
    <mat-card-subtitle>
      <span>{{post.createdDate|timeAgo}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="post.imageUrl as imageUrl" [alt]="post.title" [src]="imageUrl">
    <span class="post-content">{{post.content|shorten:100}}</span>
  </mat-card-content>
  <mat-card-actions>
    <app-comments (newComment)="onNewComment($event)" [comments]="post.comments"></app-comments>
  </mat-card-actions>
</mat-card>
